.navbar
  background-color: #fff
  width: 100%
.container
  width: calc( 100% - 200px )
  margin: 0 auto
  height: 120px
  display: flex
  justify-content: space-between
  align-items: center
.logo
  width: 200px
  max-height: 100%
  img
    width: 100%
.nav
.nav__link
  font-family: 'Cormorant Garamond', sans-serif
  font-weight: 400
  font-size: 1.25rem
  margin-right: 50px
  color: #F89A1C
  &:last-child
    margin-right: 0
.hamburger
  display: none
@media screen and (max-width: 1200px)
  .container
    width: calc( 100% - 150px )
@media screen and (max-width: 1000px)
  .container
    width: calc( 100% - 100px )
  .hamburger
    display: block
    z-index: 101
  .nav
    background-color: #fff
    position: fixed
    bottom: 0
    right: 0
    width: 50%
    height: 100vh
    display: flex
    align-items: flex-start
    justify-content: center
    flex-direction: column
    padding-left: 40px
    z-index: 100
  .logo
    z-index: 101
  .nav__link
    margin: 0
    margin-bottom: 15px
  .nav.navVisible
@media screen and (max-width: 800px)
  .container
    height: 90px
  .container
    width: calc( 100% - 50px )
  .logo
    width: 160px
  .nav
    width: 70%
@media screen and (max-width: 455px)
  .logo
    width: 110px
  .nav
    width: 80%
