.container
    margin: 50px auto
    width: calc( 100% - 50px )

.card
    display: flex
    justify-content: space-between

.info__service
    margin: 170px auto
    line-height: 30px
    
.h4__service
    color: #B99BB6
    font-family: Roboto, sans-serif
    font-size: 20px
    letter: 1.5 px
    font-weight: 400
    padding-bottom: 10px
.p__info
    max-width: 227px
    font-size: 20px
    color: #5F4D5D
    font-family: Cormorant Garamond, sans-serif

.card__2
    margin: 50px auto

.info__service2
    line-height: 30px

.p__info2
    max-width: 435px


@media screen  and (max-width:1183px)
    .img__service
        width: 500px
        height: 400px

    .info__service
        margin: 130px auto

    .p__info
        font-size: 18px 

    // .info__service2
    //     margin-left: 100px
    .card__2
        margin: 10px auto    

@media screen  and (max-width:1090px)
    .img__service
        width: 480px
        height: 380px




@media screen  and (max-width:1010px)
    .img__service
        width: 450px
        height: 350px
        margin: 10px auto


@media screen  and (max-width:1010px)
    .img__service
        width: 440px
        height: 340px


@media screen  and (max-width:970px)
    .card__2
        margin: 10px auto

    .info__service
        margin: 80px auto
    
    .img__service
        width: 380px
        height: 310px

    .p__info2
        max-width: 300px

    @media screen  and (max-width:939px)
        .img__service
            margin: 0px auto

@media screen  and (max-width:850px)
    .img__service
        width: 340px
        height: 300px
        

    .info__service2
        margin: 50px 

    .info__service
        width: 400px




@media screen  and (max-width:792px)
    .card
        display: flex
        align-items: center
        flex-direction: column-reverse

    .card__2
        display: flex
        align-items: center
        flex-direction: column

    .img__service
        width: 450px
        height: 350px

    .p__info
        max-width: 401px
        margin: 0 auto

@media screen  and (max-width:559px)
    .img__service
        width: 390px
        height: 290px


@media screen  and (max-width:559px)
    .img__service
        width: 350px
        height: 250px

    .p__info
        max-width: 311px
        margin: 0 auto
    .h4__service
        text-align: center
