.about
  width: 100%
  background-color: #F89A1C

.container
  margin: 0 auto
  width: calc(100% - 150px)
  max-height: 1000px

.block
  width: 100%
  display: flex
  justify-content: center

.info
  width: 300px
  max-height: 300px
  background-color: #1F3570
  margin-top: 150px
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: flex-start
  padding: 20px
  padding-left: 34px

.about__h2
  font-size: 20px
  line-height: 30px
  color: white
  font-family: Cormorant Garamond, sans-serif

.about__description
  font-size: 34px
  color: white
  font-family: Cormorant Garamond, sans-serif
  font-weight: 10px
  line-height: 35px
  max-width: 250px
  margin-top: 10px

.about__link
  color: white
  font-size: 14px
  font-family: Roboto, sans-serif
  border-bottom: 2px solid #fff
  line-height: 30px
  font-weight: 400
  letter-spacing: 1.5px
  text-transform: uppercase

.img__about
  max-width: 450px
  max-height: 550px
  margin: 50px 0

@media screen  and (max-width:996px)
  .info
    margin: 150px 0

@media screen  and (max-width:871px)
  .container
    position: relative
    .info
      position: absolute
      height: 250px
    .about__h2
      font-size: 15px
    .about__description
      font-size: 25px
      line-height: 30px
    .about__link
      font-size: 10px
      border-bottom: 1px solid white
      line-height: 15px
      padding-top: 10px

@media screen  and (max-width:440px)
  .about
    background: none
